body {
  margin: 0;
  padding: 0;
  --theme-red: rgb(219, 96, 96);
  --theme-dark: rgb(55, 53, 53);
  --theme-light: rgb(253, 252, 250);
  --theme-green: rgb(0, 128, 0);
  --theme-green-light: rgba(0, 128, 0, 0.2);
  --theme-aqua: rgb(157, 220, 216);
  --theme-aqua-light: rgba(157, 220, 216, 0.2);
  --theme-yellow: rgb(255, 195, 124);
  --theme-deepblue: rgb(53, 95, 114);
  --font-style: Verdana, Sans-Serif;
}
