body {
  --theme-red: rgb(219, 96, 96);
  --theme-dark: rgb(55, 53, 53);
  --theme-light: rgb(253, 252, 250);
  --theme-light-dim: rgb(240, 234, 234);
  --theme-green: rgb(62, 161, 126);
  --theme-green-dim: rgba(62, 161, 126, .5);
  --theme-green-light: rgba(62, 161, 126, .2);
  --theme-aqua: rgb(157, 220, 216);
  --theme-aqua-dim: rgba(157, 220, 216, .5);
  --theme-aqua-light: rgba(157, 220, 216, .2);
  --theme-yellow: rgb(255, 195, 124);
  --theme-deepblue: rgb(53, 95, 114);
  --font-family: 'Roboto', sans-serif;
  --border-radius: 8px;
  --border-radius-small: 4px;

  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}
