.task__wrapper {
  cursor: grab;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--theme-light);
  border-radius: var(--border-radius-small);
  height: 30px;
}

.task {
  width: 100%;
  display: grid;
  grid-template-columns: auto min-content;
  margin: 0 10px;
  font-size: .9rem;
  font-weight: 500;
  gap: 10px;
}
